/* Oque devemos fazer aqui? ADICIONAR AS REGRAS */


/* seletor universal (*).
alterando o comportamento do box model css. usando esta regra evitamos os problemas encontrados ao se usar width, height, padding e border ao memso tempo. */
* {box-sizing: border-box}




body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}


/* seletor identificado */
#container {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 8px;

    /* Espaçamento interno */
    padding: 8px;

    box-shadow: black 8px 5px 10px, purple -8px -5px 10px;
}

/* Tornando imagens felxíveis/expansivas */
img {
    max-width: 100%;
}

figure {
    text-align: center;
}

/* crie uma nova regra CSS para estilizar o elemento h1 com as seguintes caracteristicas 

-fonte: impact, verdana, arial e sans-serif
-cor de fundo: escura com um pouco de transparencia
-cor do texto: clara
espaçamento interno APENAS pra cima e pra baixo
-letras maiusculas
-texto alinhado no meio
-bordas arredondadas APENAS nos cantos superiores
-sombra no texto
*/

h1 {
    margin: 0px;
    font-family: Impact, Verdana, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    padding-top: 8px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 7px;
    text-shadow: 2px 2px 4px black;
    border-top-right-radius: 8px;
}

h2 {
    font-size: 20px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-left-width: 20px;
    border-left-color: black;
    padding-left: 9px;
}

/* Propriedades com prefixo
-webkit, -moz, -o

Propriedades relacionadas á determinados navegadores. Podem ter problemas  de compatibilidade*/






figure img {
    transform: scale(0.6);
    transition: 0.5s;
    filter: grayscale(100%);
}

figure img:hover {
    transform: scale(1) rotateX(360deg);
    filter: grayscale(0);
}








/* seletor tag (portanto vale para todos os "a" */
a {
    text-decoration: none;




}/* seletor agrupado (grupo de seletores */
p,
li {
    font-size: 18px;
}




/* seletor classe */
.centralizar {
    text-align: center;
}

.sombra {
    text-shadow: black 1px 1px 3px;
}

.destaque {
    background-color: gray;
    color: white;
    padding: 3px;
    border-radius: 4px;
}


.destaques-back {
    background-color: gray;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}


/* regras para o menu e seus links */

nav {text-align: center;}

/* regra para o estado inicial dos links */

/* seletor descendente (vale para todos os <a> contidos em <nav> */

nav a {
    color: black;
    font-weight: bold;
    background-color: antiquewhite;
    display: inline-block;
    width: 50%;
    padding: 2%;
    transition: 0.5s;
    border: solid 1px;
}

/* regra para o estado de acionamento dos links */
nav a:hover, nav a:focus         {
    background-color: gray;
    transition: 0.5s;
}

nav a:first-child {
border-bottom-left-radius: 8px;
}

nav a:last-child {
border-bottom-right-radius: 8px;
}

ul li {
    color: purple;
    list-style-type: square;

}

ul {
    margin: 0;
    padding: 0px;
    list-style-position: inside;
}


/* seletor pseudo-elemento ::marker para alterar o conteúdo do marcador da lista */
ul li::marker {
    content: "🐱‍👓";
    font-size: 24px;
}

ul li:first-child { font-weight: bold;}
ul li:last-child { font-style: italic;}
ul li:nth-child(3) { color: whitesmoke;}


/* cores alternadas */
ul li:nth-child(even) {background: pink;} 
ul li:nth-child(odd) {background: lightblue;}